body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/▷\ 100\ Fondos\ De\ Lluvia\ ¡Hermosas!\ _\ Fondos\ de\ Pantalla.gif'); 
    background-size: cover;
    background-position: center;
    font-family: 'Bold'
}

.content {
    display: flex;
    align-items: center;
    color: white;

}
.image-container{
    width: 600px; /* Tamaño del ojo */
    height: 550px;
    margin-right: 10px;
    
}


.image-container img {
    width: 500px; /* Tamaño del ojo */
    height: 500px;
    border-radius: 50%;
    margin-left: 50px;
}


.text-container {
    margin-right: 300px;
}
.text-container .p1{
    font-size: 40px;
    margin-bottom: 10px;
}

.text-container h1 {
    font-size: 60px;
    margin-bottom: 40px;
    line-height: 1.2;
    color: white;
    font-weight: 900; 
}

.text-container p {
    font-size: 14px;
    color: white;
    font-weight: 400;
    padding-inline: 10px;

}



.button {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 330px;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    background-color: white; 
    color: black; 
    position: relative;
    overflow: visible;
}
.linea{
    margin-top: 10px;
    border-top: 2px solid white;
    width: 65%;
    margin: auto;
    margin-right: 160px;
}

.button .logo {
    position: absolute;
    top: -6px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
}

.facebook {
    background-color: white;
    color: black;
}

.google {
    background-color: white;
    color: black;
}

.create-account {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center ;
    border-radius: 10px;
    cursor: pointer;
}

.terms {
    font-size: 10px;
    color: lightgray;
    margin-top: 10px;
    font-weight: 500;
}

.terms a {
    color: purple;
    text-decoration: underline;
    font-weight: 500;
}

